<app-menu></app-menu>
<div class="wrapper">
    <div class="headerContainer"><h2>Create new user</h2></div>
    <div class="newContainer">
        <div class="back"><a routerLink="/users/listusers">Go back to users list</a></div>
        <div class="infoTableContainer">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td><input [(ngModel)]="user.id" readonly></td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td><input [(ngModel)]="user.firstname"></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input [(ngModel)]="user.lastname"></td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td><input [(ngModel)]="user.phone"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input [(ngModel)]="user.email"></td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td><input [(ngModel)]="user.username"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input [(ngModel)]="user.password" type="password"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="saveBtnContainer"><button class="btn btn-primary" (click)="saveUser()">Save</button></div>
    </div>
</div>