<app-menu></app-menu>
<div class="wrapper">
    <div class="headerContainer"><h2>Request Review</h2></div>
    <div class="listAllContainer">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Rejection Reason</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{request.id}}</td>
                    <td>{{request.description}}</td>
                    <td>{{request.rejectionReason}}</td>
                    <td>{{request.status}}</td>
                    <td>{{request.total | currency}}</td>
                    <td>{{request.user.username}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="headerContainer"><h3>Request Dtails</h3></div>
    <div class="listAllContainer">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Line Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let line of request.requestLines">
                    <td>{{line.id}}</td>
                    <td>{{line.product.name}}</td>
                    <td>{{line.product.price |currency}}</td>
                    <td>{{line.quantity}}</td>
                    <td>{{line.quantity * line.product.price | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="reviewReq"><button class="btn btn-success" (click)="approve()">Approve</button> | <button class="btn btn-danger" (click)="reject()">Reject</button>
     <span *ngIf="isRejected"> | Rejection Reason:  <input class="reject" [(ngModel)]="request.rejectionReason">  <button class="btn btn-warning" (click)="confirmReject()"> Confirm</button> {{message}}</span></div>
</div>