<app-menu></app-menu>
<div class="wraper">
    <div class="headerContainer"><h2>Detail of {{product.name}}</h2></div>
    <div class="newContainer">
        <a routerLink="/products/list">Back to products list</a>
        <div class="infoTableContainer">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{product.id}}</td>
                    </tr>
                    <tr>
                        <td>Part Number</td>
                        <td>{{product.partNbr}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{product.name}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{product.price}}</td>
                    </tr>
                    <tr>
                        <td>Unit</td>
                        <td>{{product.unit}}</td>
                    </tr>
                    <tr>
                        <td>Vendor</td>
                        <td>{{product.vendor.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div btnContainer><ng-container *ngFor="let ur of loggedInUser?.userRoles"><span *ngIf="ur.role?.rolename === 'admin'"><button class="btn btn-primary" (click)="verDelete()">Delete</button><span *ngIf="verBtn"> | <button class="btn btn-danger" (click)="remove()">Verify Delete</button></span></span></ng-container></div>
    </div>
    <div class="messageContainer">{{message}}</div>
</div>