<app-menu></app-menu>
<div class="wrapper">
    <div class="headerContainer"><h2>Edit a Request</h2></div>
    <div class="newContainer">
        <div class="infoTableContainer">
            <table class="table table-sm">
                <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{request.id}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{request.description}}</td>
                </tr>
                <tr>
                    <td>Justifcation</td>
                    <td>{{request.justifcation}}</td>
                </tr>
                <tr>
                    <td>Delivery Mode</td>
                    <td>{{request.deliveryMode}}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{request.status}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{request.total}}</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>{{request.user.username}}</td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="btnContainer"><button class="btn btn-primary" (click)="delBtn()">Delete</button><span *ngIf="verDel"> | Are you sure? <button class="btn btn-warning" (click)="remove()">Verify</button></span></div>
    </div>
</div>