<app-menu></app-menu>
<div class="wrapper">
    <div class="headerContainer"><h2>Needs Review</h2></div>
    <div class="listAllContainer">
        <div class="listTableActions">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>
                            <button (click)="sorted('id')" class="sortBtn">ID</button>
                        </th>
                        <th>
                            <button (click)="sorted('description')" class="sortBtn">Description</button>
                        </th>
                        <th>
                            <button (click)="sorted('justifcation')" class="sortBtn">justifcation</button>
                        </th>
                        <th>
                            <button (click)="sorted('status')" class="sortBtn">Status</button>
                        </th>
                        <th>
                            <button (click)="sorted('total')" class="sortBtn">Total</button>
                        </th>
                        <th>
                            <button (click)="sorted('user.username')" class="sortBtn">User</button>
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let request of requests">
                        <td>{{request.id}}</td>
                        <td>{{request.description}}</td>
                        <td>{{request.justification}}</td>
                        <td>{{request.status}}</td>
                        <td>{{request.total |currency}}</td>
                        <td>{{request.user.username}}</td>
                        <td><a routerLink="/review/{{request.id}}">Review Request</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>