/* You can add global styles to this file, and also import other style files */
body {
    padding:0
}
.newContainer{
    margin:auto;
    width: 400px;
    border:solid;
    border-radius: 10px;
    padding: 5px;
}
.infoTableContainer{
    margin:10px;
}
.wrapper{
    display:inline-block;
    width:100%;
}
.headerContainer{
    text-align: center;
}
.messageContainer{
    margin:auto;
    text-align: center;
}
.sortBtn{
    border-style: none;
    background: none;
    font-weight: bold;
}
.sortBtn:hover{
    color:darkgrey;
}
